@font-face{
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Bold.ttf');
}
@font-face{
    font-family: 'Luxury Royale JF Regular';
    src: url('../fonts/Luxury\ Royale\ JF\ Regular.ttf');
}
@font-face{
    font-family: 'Bello';
    src: url('../fonts/Bello-Script.ttf');
}